* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

section {
    height: 100vh;
    width: 100vw;
    background: bisque;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
}

.part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 40px 50px;
}

nav h1 {
    font-size: 30px;

}

nav h1 i {
    rotate: 45deg;
    display: inline-block;
    font-size: 30px;
}

nav h4 {
    font-size: 18px;
    font-weight: 500;
}

nav button {
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;
    background: transparent;
}

.center {
    padding: 70px 100px;
    height: 80vh;
    width: 100vw;
    display: flex;
}

.center-part-1 {
    height: 100%;
    width: 44%;
}

.center-part-1 h1 {
    line-height: 1.1;
    font-size: 68px;
    font-family: monospace;
}

.center-part-1 p {
    font-size: 30px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 35px;
}

.center-part-1 button {
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 22px 40px;
    font-size: 25px;
    font-weight: 600;
    border: none;
}

.center-part-2 {
    height: 100%;
    width: 56%;
    position: relative;
}

.center-part-2 img {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
}

.section-1-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.section-1-bottom img {
    height: 60px;
    width: 60px;
}